@import './base.scss';

body {
  margin: auto;
}

h1 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;

  padding: 5px 10px;
  margin-left: 5px;
  background: $primary-color;
  border-radius: 10px;
  color: $bg-color2;
  font-size: 12px;
}

.no-data {
  text-align: center;
  padding: 100px 0;
}
