.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > img {
    display: block;
    width: 250px;
    margin: 50px 0 70px;
  }

  .login-button {
    button {
      padding: 0;
      margin-left: 0;
      background: none;
      border-radius: 0;
    }

    img {
      width: 300px;
    }
  }

}
