.login {
  text-align: center;

  img {
    margin: 100px 0;
    width: 250px;
  }
}

.login-button {
  button {
    padding: 0;
    margin-left: 0;
    background: none;
    border-radius: 0;
  }

  img {
    width: 300px;
  }
}
