@import '../App/base.scss';

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    color: $font-color11;
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
  }

  & > img {
    display: block;
    width: 250px;
    margin: 50px 0;
  }

  .login-button {
    button {
      padding: 0;
      margin-left: 0;
      background: none;
      border-radius: 0;
    }

    img {
      width: 300px;
    }
  }

}
