.loading {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:after {
    position: absolute;
    content: '';
    width: 70px;
    height: 70px;
    background: url('../../logo.svg') no-repeat 0 0;
    background-size: cover;
    animation: logo-spin 3s infinite linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
